* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer {
  width: 40%;
  height: 30rem;
  margin-top: 2rem;
}
.maincontainer > form {
  width: 100%;
  height: inherit;
  border: 2px solid black;
  background-color: #232325;
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.8rem;
}
.maincontainer > form > div {
  width: 100%;
  height: inherit;
  display: flex;

  justify-content: center;
}
.maincontainer > form > div > div {
  width: 40%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.maincontainer > form > div > div > input {
  width: 90%;
  height: 3rem;
  background-color: #141414;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  padding-left: 1rem;
  color: gray;
}
.maincontainer > form > div > div > input:focus {
  border: 1px solid rgb(79, 122, 14);
  background-color: #141414;
}
.btn {
  width: 80%;
  height: 3rem;
  border: none;
  outline: none;
  color: black;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn:hover {
  background-color: crimson;
  transition: all 1s ease-in-out;
  color: whitesmoke;
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 400px) {
  .maincontainer {
    width: 97%;
  }
  .maincontainer > form > div > div > input {
    width: 97%;
    font-size: 0.7rem;
    padding-left: 0.3rem;
  }
}
@media only screen and (max-width: 600px) and (min-width: 400px) {
  .maincontainer {
    width: 90%;
  }
  .maincontainer > form > div > div > input {
    width: 95%;
    font-size: 0.7rem;
    padding-left: 0.5rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .maincontainer {
    width: 80%;
  }
  .maincontainer > form > div > div > input {
    width: 95%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .maincontainer {
    width: 70%;
  }
  .maincontainer > form > div > div > input {
    width: 95%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .maincontainer {
    width: 50%;
  }
  .maincontainer > form > div > div > input {
    width: 90%;
  }
}

