* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.maincontainer {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #404040;
}
.maincontainer > div {
  position: fixed;
  top: 0;
  width: 90%;
  height: inherit;
  display: flex;
  z-index: 999;
  background-color: #404040;
}
.logo {
  width: 30%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > h2 {
  font-family: monospace;
  font-style: italic;
  font-size: 1.5rem;
  color: #5c5cff;
}
.menu {
  width: 70%;
  height: inherit;
  display: flex;
}
.menu > ul {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu > ul li {
  list-style: none;
}
.textstyle {
  text-decoration: none;
  font-family: monospace;
  font-size: 1.2rem;
  color: gray;
}

.social {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.social > button {
  border: none;
  outline: none;
  background: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .maincontainer > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .menu {
    width: 100%;
    font-size: 0.8rem;
  }
  .textstyle {
    font-size: 1rem;
  }
  .logo {
    display: none;
  }

  .social {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .maincontainer > div {
    width: 100%;
  }
  .social {
    display: none;
  }
  .logo {
    width: 33%;
  }
  .menu {
    width: 67%;
  }
  .logo > h2 {
    font-size: 1.1rem;
  }
  .textstyle {
    font-size: 1.2rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .maincontainer > div {
    width: 100%;
  }
  .logo > h2 {
    font-size: 1.1rem;
  }
  .social {
    width: 20%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .maincontainer > div {
    width: 100%;
  }
  .logo {
    width: 35%;
  }
  .social {
    width: 30%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .maincontainer > div {
    width: 100%;
  }
  .logo {
    width: 35%;
  }
  .social {
    width: 30%;
  }
}
