* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.maincontainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer > div {
  width: 80%;
  height: auto;
}
.heading {
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #5c5cff;
  text-decoration: underline;
}
.para {
  font-size: 1.4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  line-height: 1.5;
}
.textdoc {
  color: #5c5cff;
}
