* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000000;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
